.main_sec {
    height:100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

body {
    height:100vh;
}

.main_t {
    padding: 10px;
}

ul {
    margin:0;
}

.exp {
    width:100%;
    background-color: gray;
    padding:30px;
    padding-left:30px;
    padding-right:30px;
}

.t-center {
    text-align: center;
    font-size:24px;
}

.c_title {
    font-size: 50px;
    padding:10px;
    margin:0;
    color:coral;
    text-shadow: 3px 3px 0px #7f8c8d;
}

.splitter {
    display:flex;
    flex-direction:row; 
}

section {
    overflow: auto;
}

.label {
    color:chartreuse;
}

.label1 {
    color:lightcoral;
}