<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors How To Play</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/htp.css">
    </head>
    <body>
        <section class="main_sec">
            <h1 class="main_t"> How To Play </h1>
            <section class="exp">
                <p class="t-center">
                    Pixel Survivors is a 2D pixel game where players compete to defeat the boss as quickly as possible. You have 4 minutes to defeat the boss
                    and can choose to play as the Knight or the Wizard.
                </p>
                <p class="t-center" style="color:aquamarine">
                    Cheating is available by pressing the backspace key (toggle). You will walk faster, have 10x attack power and 10x score while cheat is toggled on.
                </p>
            </section>
            <h4 class="c_title"> Characters </h4>
            <div class='splitter' style="width:100%;">
                <div style="background-color: grey; width:50%; padding:10px">
                    <h1 style="text-align:left; color:hotpink; animation:none">Knight</h1>
                    <div class="control-item">
                        <span class="label1">Movement:</span>
                        <span class="value">W A S D</span>
                    </div>
                    <div class="control-item">
                        <span class="label1">Attack:</span>
                        <span class="value">K</span>
                    </div>
                    <div class="control-item">
                        <span class="label1">Cheat-key:</span>
                        <span class="value">backspace (toggle)</span>
                    </div>
                    <div class="features">
                        <span class="label1">Features:</span>
                        <ul>
                            <li>Short range</li>
                            <li>Walk faster</li>
                            <li>Attack cooldown is lower</li>
                            <li>Can attack more than one enemy at once</li>
                        </ul>
                    </div>
                </div>

                <div style="background-color: grey; width:50%; padding:10px">
                    <h1 style="text-align:left; color:greenyellow; animation:none">Wizard</h1>
                    <div class="control-item">
                        <span class="label">Movement:</span>
                        <span class="value">W A S D</span>
                    </div>
                    <div class="control-item">
                        <span class="label">Attack:</span>
                        <span class="value">Left Mouse Click</span>
                    </div>
                    <div class="control-item">
                        <span class="label">Cheat-key:</span>
                        <span class="value">backspace (toggle)</span>
                    </div>
                    <div class="features">
                        <span class="label">Features:</span>
                        <ul>
                            <li>Long range</li>
                            <li>Walk slower</li>
                            <li>Attack cooldown is higher</li>
                            <li>Can only attack one enemy at once (the magic it spawns can only hit one enemy)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>