<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors How To Play</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/htp.css">
    </head>
    <body>
        <section class="main_sec">
            <h1 class="main_t"> How To Play </h1>
            <section class="exp">
                <p class="t-center">
                    Explain controls and also boss and player interaction
                </p>
            </section>
        </section>

    </body>
</html>