<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors How To Play</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/htp.css">
    </head>
    <body>
        <section class="main_sec">
            <h1 class="main_t"> How To Play </h1>
            <section class="exp">
                <p class="t-center">
                    Pixel Survivors is a 2D pixel co-op game where players work together to defeat a boss that spawns several other enemies. The win condition is to deplete the boss' Hit Points (HP) while maximising their score (by damaging the boss), players lose when all players lose all HP, or if the time runs out (4 minutes). If a player loses all HP (dead), another player can revive the dead player. Reviving can also add points. A dead player will revive after 15 seconds if they are not revived by another player.
                </p>
            </section>
            <h4 class="c_title"> Controls </h4>
            <div class='splitter'>
                <p class="t-center">
                    Pixel Survivors is a 2D pixel co-op game where players work together to defeat a boss that spawns several other enemies. The win condition is to deplete the boss' Hit Points (HP) while maximising their score (by damaging the boss), players lose when all players lose all HP, or if the time runs out (4 minutes). If a player loses all HP (dead), another player can revive the dead player. Reviving can also add points. A dead player will revive after 15 seconds if they are not revived by another player.
                </p>
                <p class="t-center">
                    Pixel Survivors is a 2D pixel co-op game where players work together to defeat a boss that spawns several other enemies. The win condition is to deplete the boss' Hit Points (HP) while maximising their score (by damaging the boss), players lose when all players lose all HP, or if the time runs out (4 minutes). If a player loses all HP (dead), another player can revive the dead player. Reviving can also add points. A dead player will revive after 15 seconds if they are not revived by another player.
                </p>
            </div>
        </section>

    </body>
</html>