<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors Lobby</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/lobby.css">
    </head>
    <body>
        <section id='lobby' class="lobby_wrap">
            <div class = "player_card">
                <div style="background-color: grey; width:100%; padding:5px">
                    <h1 style="text-align:left; color:greenyellow; animation:none">Wizard</h1>
                    <div class="wizard_sprite"></div>

                    <div class="control-item">
                        <span class="label">Movement:</span>
                        <span class="value">W A S D</span>
                    </div>
                    <div class="control-item">
                        <span class="label">Attack:</span>
                        <span class="value">Left Mouse Click</span>
                    </div>
                    <div class="control-item">
                        <span class="label">Cheat-key:</span>
                        <span class="value">backspace (toggle)</span>
                    </div>
                    <div class="features">
                        <span class="label">Features:</span>
                        <ul>
                            <li>Long range</li>
                            <li>Walk slower</li>
                            <li>Attack cooldown is higher</li>
                            <li>Can only attack one enemy at once (the magic it spawns can only hit one enemy)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class = "lobby_container">
                <h3> Please DO NOT refresh the browser </h3>
                <div class = "player">
                    <h1> Player 1 (Host) </h1>
                    <h2 id="host"> Loading... </h2>
                    <select id="host_char" class="center_select">
                        <option>Wizard</option>
                        <option>Knight</option>
                    </select>
                </div>
                <div class = "player">
                    <h1> Player 2 </h1>
                    <h2 id="client"> Loading... </h2>
                    <select id='client_char' class="center_select">
                        <option>Wizard</option>
                        <option>Knight</option>
                    </select>
                </div>
                <%
                    if(username == roomID) {
                        %>
                            <button id="start_game" class = "start_game">
                                Start Game
                            </button> 
                        <%
                    }
                %>
            </div>
            <div class = "player_card">
                <div style="background-color: grey; width:100%; padding:5px">
                    <h1 style="text-align:left; color:hotpink; animation:none">Knight</h1>
                    <div class="knight_sprite_"></div>

                    <div class="control-item">
                        <span class="label1">Movement:</span>
                        <span class="value">W A S D</span>
                    </div>
                    <div class="control-item">
                        <span class="label1">Attack:</span>
                        <span class="value">K</span>
                    </div>
                    <div class="control-item">
                        <span class="label1">Cheat-key:</span>
                        <span class="value">backspace (toggle)</span>
                    </div>
                    <div class="features">
                        <span class="label1">Features:</span>
                        <ul>
                            <li>Short range</li>
                            <li>Walk faster</li>
                            <li>Attack cooldown is lower</li>
                            <li>Can attack more than one enemy at once</li>
                        </ul>
                    </div>
            </div>
            </div>
        </section>

        <script src="/socket.io/socket.io.min.js"></script>
        <script type='module' src="./js/SocketHandler.js"></script>
        <script type='module' src="./js/Lobby.js"></script>
    </body>
</html>