<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors Lobbies</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/lobby.css">
    </head>
    <body>
        <section id='lobby' class="lobby_wrap">
            <div class = "player_card">
                <h3 class="title_1">Wizard</h3>
                <p>Description wdasd wad dawsd wad aw da</p>
            </div>
            <div class = "lobby_container">
                <h3> Please DO NOT refresh the browser </h3>
                <div class = "player">
                    <h1> Player 1 (Host) </h1>
                    <h2 id="host"> Loading... </h2>
                    <select id="host_char" class="center_select">
                        <option>Wizard</option>
                        <option>Knight</option>
                    </select>
                    <div class="split_flex">
                        <div class="wizard_sprite"></div>
                        <div class="knight_sprite"></div>
                    </div>
                </div>
                <div class = "player">
                    <h1> Player 2 </h1>
                    <h2 id="client"> Loading... </h2>
                    <select id='client_char' class="center_select">
                        <option>Wizard</option>
                        <option>Knight</option>
                    </select>
                </div>
                <%
                    if(username == roomID) {
                        %>
                            <button id="start_game" class = "start_game">
                                Start Game
                            </button> 
                        <%
                    }
                %>
            </div>
            <div class = "player_card">
                <h3 class="title_1">Knight</h3>
                <p>Description wad sd wa da dwa daw d</p>
            </div>
        </section>

        <script src="/socket.io/socket.io.min.js"></script>
        <script type='module' src="./js/SocketHandler.js"></script>
        <script type='module' src="./js/Lobby.js"></script>
    </body>
</html>