<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors Lobbies</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="./css/lobbies.css">
    </head>
    <body>
        <div class = "lobby_main">
            <div class = "lobby_list_main">
                <div class = lobby_wrapper>
                    <h class>Lobbies</h>
                    <button id="create_lobby">Create Lobby</button>
                </div>
                <div class = lobby_inner>
                    <div class = profile>
                        <button id=logout_button>Logout</button>
                        <h1 class>Profile</h1>
                        <h1 id = 'profile_username'> <%= username %> </h1>
                        <button>Rankings</button>
                    </div>
                    <ul id="lobby_list">
                    </ul>
                </div>
            </div>
        </div>


        <script src="/socket.io/socket.io.min.js"></script>
        <script type='module' src="./js/SocketHandler.js"></script>
        <script type='module' src="./js/Lobbies.js"></script>
    </body>
</html>