<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors Rankings</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body style="height:100vh;">
        <h1 style="text-align:center">Rankings</h1>
        <a style='display:flex; justify-content: center;' href="/lobbies"><button>Back to Lobbies</button></a>
        <section style="width:100%; height:100%; padding:10px; display:flex; flex-direction: column; align-items: center;">
            <ul id="rank_list" style="width:500px; background-color: grey; padding:10px; list-style-type: none; row-gap:5px; display:flex; flex-direction: column;">
            </ul>
        </section>
        


        <script src="/socket.io/socket.io.min.js"></script>
        <script type='module' src="./js/SocketHandler.js"></script>
        <script type='module' src="./js/Rankings.js"></script>
    </body>
</html>