<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pixel Survivors Rankings</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body style="height:100vh;">
        <h1 style="text-align:center">Rankings</h1>
        <section style="width:100%; height:100%; padding:10px; display:flex; flex-direction: column; align-items: center;">
            <ul id="rank_list" style="width:500px; background-color: grey; padding:10px; list-style-type: none;">
                <li>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                        <p>1.</p>
                        <p>Username</p>
                        <p>Time</p>
                        <p>Score</p>
                        <p>Character</p>
                    </div>
                </li>
            </ul>
        </section>
    </body>
</html>